﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Data ware House</h1>
    <p>
        Solucion desde aca
    </p>
    
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>PRACTICA 01</h2>
        <p>
            1) Crear una tabla Clientes con los siguientes campos
            * Id
            * Nombre
            * Apellido

            2) Crear una tabla Domicilio con los siguientes campos
            * CiudadId
            * DomicilioId
            * ClienteId
            * Calle
            * Altura
            * Piso
            * Depto


            3) Crear una tabla Ciudad que ya este pre cargada y al dar de alta una direccion muestre un desplegable o combo con la información correspondiente.
            La tabla debe tener los siguientes campos

            * CiudadId
            * Descripcion

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tarea:</h2>
        <p>
            
            a) En la pantalla inicial debe contener una grilla paginada que contenga de a 5 registros y de cada cliente mostrar la ultima dirección cargada.
            b) Un buscar por nombre - apellido 
            c) Un botón de nuevo que debe abrir popup que tenga para cargar los datos del cliente y una grilla que muestre las direcciones del cliente.
            d) En el ABM de clientes debe tener un botón nueva dirección que abre un popup donde se agrega la dirección y al guardar la debe agregar a la grilla que
            se encuentra en clientes.
            e) Se debe poder editar y  eliminar   los clientes
            f) Se debe poder editar y eliminar las direcciones.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Solucion</h2>
        <p>Aplicacion en:
            - Code First
            - Base de datos automaticAllowed 
            - regla de Negocio imaginativa
            - 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <p>Nombre  : <span data-bind="text: nombre"></span></p>
    <p>Apellido: <span data-bind="text: apellido"></span></p>
</div>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script type="text/javascript">
    // otro
    //function appmodel()
    //{
    //    this.nombre = "Rvr";
    //    this.apellido = "Roca";
    //}
    //ko.applyBindings(new appmodel());


    // cliente
    var viewModel = {
        nombre: "Reghis",
        apellido: "Villarroel"
    };
    ko.applyBindings(viewModel);
</script>