﻿@model WebPractica00.Models.Domicilio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Domicilio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ciudades.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudades.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Piso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Piso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DomicilioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
